 ('Arquitectos'), ('Dibujantes Arquitectónicos'), ('Construcción'), ('Pintores'), ('Maestros de Contrucción'),  ('Albañiles'),  ('Remodelación'), ('Construcción Liviana'), ('Carpinteros'), ('Electricistas'), ('Plomeros'), ('Pisos de Madera'), ('Pisos de Vinilo y PVC'), ('Pisos y Concreto Decorativo'), ('Papel de Colgadura y Alfombras'), ('Cortinas y Persianas'), ('Iluminación LED'), ('Diseño de Interiores'), ('Cocinas'), ('Carpintería Metálica'), ('Carpintería en PVC'), ('Impermeabilización'), ('Aire Acondicionado - Climatización'), ('Jardineros'), ('Fachadas'), ('Parasoles y Toldos'), ('Piscinas y Zonas Húmedas'), ('Domótica - Casas Inteligentes'), ('Topografía'), ('Estudios de Suelo'), ('Diseño Estructural'), ('Diseño Hidráulico, Sanitario y Sistemas Contra Incendios'), ('Diseño Eléctrico'), ('Servicios de GAS'), ('Avalúos'), ('Asesorías - Gestión de Subsidios, Permisos y Licencias')


('Diseño Arquitectónico', 1), ('Dibujo Arquitectónico', 2), ('Dibujos 3D y Render', 2), ('Gerencia de Proyectos de Construcción', 3), ('Construcción Tradicional', 3), ('Casas Prefabricadas', 3), ('Cabañas de Madera', 3), ('Demolición', 3), ('Excavaciones y Movimientos de Tierra', 3), ('Pisos en Concreto', 3), ('Pavimentos', 3), ('Estructuras Metálicas', 3), ('Techos y Cubiertas', 3), ('Recolección de Escombros', 3), ('Pozos profundos', 3)
								  